ul{
  list-style-type: none;
}
.logo a{
  color:red;
  font-size: 28px;
  font-family: lora;
}
.form-group input{
  border:1px solid red;
}
.signin li a{
  text-decoration: none;
  color:black;
  padding:6px;
  font-size:16px;
  font-family:lora;
}
.signin li a:hover{
  background-color:red;
}
.signin >li{
  position:relative;
}
.custom-dropdown{
  position:absolute;
  background-color: red;
  display: none;
  z-index:2;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
.custom-dropdown li a{
    border-top: 1px solid white;
   display:block;
}
.signin > li:hover  .custom-dropdown {
  display:block;
}
.form-group button{
  border:1px solid red; 
  background-color:red;
  color:white;
}
.container li a{
  color:black;
  font-size: 13px;
  text-decoration: none;
}
.whitetext {
  font-size:15px;
  font-style: bold;
}
.main{
  margin-top:30px;
  padding-top: 20px;
}
.container li a:hover{
  color: rgb(58,83,155);
}
.fab {
  font-size: 28px;
}
.icon img{
  height:40px;
  width:60px;
}
.bottom{
  padding-top: 20px;
  background-color: #cccccc;
}
.container-fluid .card_image img{
  width:280px;
  height:210px;
  background-color: rgb(185,195,199);
}
.footer{
  background-color: rgb(149,165,166);
}
.main{
   background-color: #cccccc;
}
.content_text button{
  background-color: red;
  color:white;
  height:38px;
  width:90px;
  margin-top: 7px;
  border-radius: 0px;
}
.card_title{
  text-align: center;
  padding-top: 5px;
}
.content-img figure img{
  height:240px;
  width:250px;
}
p{
  font-size: 18px;
}
.content_text button:hover{
  background-color: white;
  color:black;
  border :2px solid rgb(191,191,191);
}
.content_card{
border :1px solid #b3b3b3;
margin:10px;
padding:10px;
}
.content_card:hover{
cursor:pointer;
box-shadow:8px 15px 18px -2px rgba(0,0,0,0.3) ;
}
.content_text span{
  color:black;
}
.owl-nav{
  font-size: 60px ;
  color:red ;
  }
.owl-carousel{
  position: relative ;
}
.owl-prev{
  left:0 ;
  position: absolute ;
  top:50% ;
  width:30px !;
  height:30px;
  border-radius: 50% ;
  border:5px solid red;
  background-color: grey;
  color:black ;
  padding:50px ;
}
.owl-next{
  position: absolute ;
  top:50% ;
  width:30px !;
  height:30px;
  border-radius: 50% ;
  border:5px solid red;
  background-color: grey;
  color:black ;
  padding:50px ;
  right:0 ;
}
.text .big_text{
  text-decoration: line-through;
}
.img{
  font-size: 30px;
}
.container-fluid .info p{
  margin-bottom: 70px;
}
.info button{
  border :1px solid rgb(191,191,191);
  border-radius: 0px;
  color:grey;
}
.info img{
  width:  :14px;
  height: 24px;
}
.info figure li a{
  text-decoration: none;
  color:blue;
}
.info h6{
  color:#9d9d9d;
  margin-bottom: : 30px;
}
.info button:hover{
  color: rgb(191,191,191);
}
.button .btn{
  background-color:rgb(248,148,6);
  color:grey;
  padding:14 20px;
  border-radius: 0px;
}
.button .btn:hover{
  color:transparent;
  background-color: rgb(249,105,14);
}
.button .btn{
  color:white;
  float:right;
  margin-bottom: 40px;
  margin-right:150px;
}
.button .btn h5{
  margin-right:60px;
}
.price h4{
  float:left
}
.button .btn  p{
     color: #9d9d9d;
}
.button .btn .h5{
    text-align: center;
}
.nav-tabs li a {
border:1px solid #9d9d9d;
border-bottom:transparent;
}
.tab-content h5{
  color:rgb(108,122,137);
}
.nav-tabs .active a{
}
.breadcrumb li a{
  color:#9d9d9d;
}
.info span {
  color:#9d9d9d;
  font-size: 15px;
}
.info .size{
  color:black;
}
.info .review{
  font-size: 12px;
  color:rgb(75,119,190);
}
.phone img{
    height:350px;
  width:350px;
}
.features li{
  color:rgb(108,122,137);
  font-size: 12px;
}
.info h3{
  color: rgb(102,102,102);
}
.image img{
  width:  :14px;
  height: 24px;
}
.price .amt{
  text-decoration: line-through;
font-size: 12px ;
color:rgb(128,128,128);
}
.price .per{
  border:2px solid orange;
  color: orange;
  font-size: 15px;
  height:30px;
  width:36px;
  padding:1px;
}
.price .btn{
  border-radius: 0px;
  background-color: orange;
  color:white;
  float: right;
  font-weight: bold;
}
.price .btn:hover{
  color:transparent;
  background-color: rgb(249,105,14);
}
.breadcrumb li a {
  font-size: 13px;
}
.breadcrumb li a:hover{
  color: #9d9d9d;
}
.nav-tabs{
  transform:translateX(-10%);
  left:50%;
  position: relative;
}
.small_text{
      font-size: 14px;
      text-decoration: none;
       /*font-family:Lora;*/

}
.big_text{
        font-family:Lora;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
  }
  .content_text button{
    font-family: Lora;
    font-size: 16px;
}
.product-slider { padding: 45px; }

.product-slider #carousel { border: 4px solid #1089c0; margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; padding: 0 45px; }

.product-slider #thumbcarousel .item { text-align: center; }

.product-slider #thumbcarousel .item .thumb { border: 4px solid #cecece; width: 20%; margin: 0 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }

.product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }

.product-slider .item img { width: 100%; height: auto; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }
.content{
  padding-left:45px;
}
.content .btn{
  background-color:rgb(248,148,6);
  color:white;
  height:40px;
  width:180px;
  border-radius: 0px;
}
.modal-content h5{
  font-size:20px;
  font-family: 'Alegreya Sans', sans-serif;
}
.content p{
  font-size:22px;
  color:grey;
}
input{
  font-size:15px;
}
 .pholder input {
    width: 200px;
   height:1px;
   padding:15px;
} 
input{
    width:18px;
    height:16px;
}
/*Menu bar css*/

.navbar{
      background: #333;
}
    .navbar li a:hover{
      background: transparent!important;
} 
    .navbar li a{
      color:black;
      line-height: 
}
    .navbar a{
      color:black;
}
    .icon-bar{
      background-color: black;
}
    .navbar-brand:hover{
      color:black;
}
    .navbar{
    background-color: white;
}
    .navbar li a {
      font-size: 12px;
}
    .navbar li a:hover{
      color:rgb(231,126,4);
}
    .big_text1{
        font-family:Lora;
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
}
.text1 .big_text1{
  text-decoration: line-through;
}
.text1 .btn{
  background-color:white;
  color:rgb(232,126,4);
  border :2px solid rgb(248,148,6);
  height:40px;
  width:55px;
  border-radius:0px;
}
 .modal-body button{
  color:white;
  background-color: red;
  border:none;
  border-radius: 2px;
  padding: 15px;
 }
.modal-body .fb{
  color:white;
  padding:10px 90px;
  background-color: #004080;
  margin-left: 10px;
}
.modal-body button:hover{
  background-color: red;
}
.modal-body .google{
  color:white;
  padding:10px 90px;
  background-color: rgb(231,76,60);
}
.modal-body .fb:hover{
  background-color: #0066cc;
}
.modal-body .google:hover{
    background-color: rgb(231,76,60);
}
 /*Sign up css*/

 }
.form input{
  height: 100px;
  width: 3000px;
}
.container{
  display: block;
}
.form{
  border:1px solid black;
  padding:10px;
}

.form .fbb{
  color:white;
  padding:8px 50px;
  background-color: #004080;
  font-weight: bold;
  width: 250px;
  height:60px;
  font-size: 15px;
  border-radius: 0px;
  margin-bottom: 30px;
  
}
.form .fbb:hover{
    /*background-color: #004080;*/
    color: white;
}
.form .google{
  color:white;
  font-weight: bold;
  padding:8px 50px;
  background-color: rgb(231,76,60);
   width: 250px;
  height:60px;
  font-size: 15px;
  border-radius: 0px;
  margin-bottom: 30px;
  /*right:200px;*/
}
.form .google:hover{
   /*background-color: rgb(231,76,60);*/
   color: white;
}
/*.form h4{
  text-align: center;
  color:grey;
}*/
.form .form-control{
  color:darkgrey;
  padding:10px;
  border:1px solid grey;
  padding:28px;
}
.form .checkbox{
  font-size: 20px;
 }
.form a:hover {
  color:blue;
}

.register{
  width: 530px;
  height:50px;
  background-color:red;
  text-align:center;
  border-radius: 2px;
  /*padding-bottom: 8px;*/
   padding-top: 15px;
   text-decoration: none;
}
.register a{
  color:white;
  font-weight: bold;
  font-family: lora;
  padding-top: 10px;
  /*padding-bottom: 18px;*/
}
.register a:hover{
  color:white;
}
/*dropdown started */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
  font-family: 'Lato', sans-serif;
  font-weight:300;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  width:80%;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight:300;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
/*.collapse ul li a{
  color: darkgrey;
}*/
.dropdown li a{
color: rgb(115,115,115);
font-size: 12px;
}
.dropdown h4 li a {
  color: #333;
font-size: 12px;
}
.navbar-default .navbar-nav>li>a {
  color:black;
}
.navbar-nav {
  background-color: #ccccb3;
}












